h1 {
  text-align: center;
  border: 5px solid black;
  background-color: rgba(0, 0, 128, 0.773);
}
header nav ul {
  background-color: #5c7599c6;
  box-sizing: border-box;
  box-sizing: stretch;
  list-style: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 10px 10px 16px;
}
header nav ul li {
  display: inline-block;
  margin: 0 1em;
  padding: 1em 0 1em 0;
}

main {
  margin: 100px auto;
}
header nav ul li a {
  font-weight: bold;
  text-decoration: none;
}
table {
  background-color: rgb(241, 190, 128);
  border: 1px solid black;
  border-collapse: collapse;
  max-width: 800px;
  min-width: 400px;
  margin: auto;
}

th,
td {
  border: 1px solid black;
  padding: 0.5em;
}

.narrow-form {
  border: 1px solid grey;
  max-width: 400px;
  margin: auto;
  padding: 2em;
}

.helptext {
  display: block;
  font-size: 80%;
}
